credits for dataset: https://www.kaggle.com/datasets/harshitstark/covid-19-global-statistics-dataset

## Imports

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Open dataframe

In [7]:
dataframe_path = './data/COVID-19 Global Statistics Dataset.csv'

df = pd.read_csv(dataframe_path)

In [9]:
df.head()

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
0,USA,"111,367,209",NaN,"1,199,031",NaN,"109,053,249",NaN,"1,114,929","1,771","332,633","3,581","1,186,742,917","3,544,577","334,805,269"
1,India,"45,028,429",161,"533,475",2.0,NaN,NaN,NaN,NaN,"32,012",379,"935,879,495","665,334","1,406,631,776"
2,France,"40,138,560",NaN,"167,642",NaN,"39,970,918",NaN,0,NaN,"612,013","2,556","271,490,188","4,139,547","65,584,518"
3,Germany,"38,819,284",574,"182,439",28.0,"38,240,600",NaN,"396,245",NaN,"462,776","2,175","122,332,384","1,458,359","83,883,596"
4,Brazil,"38,407,327",NaN,"709,765",NaN,"36,249,161",NaN,"1,448,401",NaN,"178,345","3,296","63,776,166","296,146","215,353,593"

In [19]:
df.tail(10)

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,New Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop,Deaths/1M pop,Total Tests,Tests/1M pop,Population
229,MS Zaandam,9,NaN,2,NaN,7,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN
230,China,"503,302",NaN,"5,272",NaN,"379,053",NaN,"118,977",NaN,347,4,"160,000,000","110,461","1,448,471,400"
231,Total:,"131,413,625",NaN,"1,674,775",NaN,"126,866,566",NaN,"2,872,284","6,926",NaN,NaN,NaN,NaN,NaN
232,Total:,"221,452,228",161,"1,553,005",2.0,"205,616,782",583,"14,282,441","14,733",NaN,NaN,NaN,NaN,NaN
233,Total:,"253,186,231",940,"2,100,109",35.0,"248,509,042","2,477","2,577,080","4,521",NaN,NaN,NaN,NaN,NaN
234,Total:,"69,791,773",NaN,"1,365,551",NaN,"66,648,277",NaN,"1,777,945","8,953",NaN,NaN,NaN,NaN,NaN
235,Total:,"14,826,780","1,345","32,665",NaN,"14,572,565",NaN,"221,550",33,NaN,NaN,NaN,NaN,NaN
236,Total:,"12,859,770",NaN,"258,884",NaN,"12,089,899",NaN,"510,987",529,NaN,NaN,NaN,NaN,NaN
237,Total:,721,NaN,15,NaN,706,NaN,0,0,NaN,NaN,NaN,NaN,NaN
238,Total:,"703,531,128","2,446","6,985,004",37.0,"674,303,837","5,178","22,242,287","35,695","90,256.50",896.1,NaN,NaN,NaN

In [18]:
def describe_column(df, column):
    print(column.upper())
    print("#"*30)
    print(df[column].describe())
    print("\n")
    
for column in df.columns:
    describe_column(df, column)

COUNTRY
##############################
count        239
unique       232
top       Total:
freq           8
Name: Country, dtype: object


TOTAL CASES
##############################
count             239
unique            239
top       111,367,209
freq                1
Name: Total Cases, dtype: object


NEW CASES
##############################
count      12
unique     10
top       161
freq        2
Name: New Cases, dtype: object


TOTAL DEATHS
##############################
count     234
unique    220
top         2
freq        3
Name: Total Deaths, dtype: object


NEW DEATHS
##############################
count     7.000000
mean     15.857143
std      16.647608
min       1.000000
25%       2.000000
50%       6.000000
75%      31.500000
max      37.000000
Name: New Deaths, dtype: float64


TOTAL RECOVERED
##############################
count             190
unique            190
top       109,053,249
freq                1
Name: Total Recovered, dtype: object


NEW RECOVERED
##############################
count      17
unique     17
top       622
freq        1
Name: New Recovered, dtype: object


ACTIVE CASES
##############################
count     191
unique    157
top         0
freq       26
Name: Active Cases, dtype: object


SERIOUS, CRITICAL
##############################
count     60
unique    38
top        4
freq       7
Name: Serious, Critical, dtype: object


TOT CASES/1M POP
##############################
count       230
unique      229
top       2,782
freq          2
Name: Tot Cases/1M pop, dtype: object


DEATHS/1M POP
##############################
count     225
unique    213
top        13
freq        4
Name: Deaths/1M pop, dtype: object


TOTAL TESTS
##############################
count        213
unique       212
top       78,646
freq           2
Name: Total Tests, dtype: object


TESTS/1M POP
##############################
count           213
unique          213
top       3,544,577
freq              1
Name: Tests/1M pop, dtype: object


POPULATION
##############################
count             229
unique            229
top       334,805,269
freq                1
Name: Population, dtype: object

In [45]:
df.columns

Index(['Country', 'Total Cases', 'New Cases', 'Total Deaths', 'New Deaths',
       'Total Recovered', 'New Recovered', 'Active Cases', 'Serious, Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'Total Tests', 'Tests/1M pop',
       'Population'],
      dtype='object')

In [47]:
for country in range(len(df)):
    print("#"*30)
    print(df.iloc[country, 0])
    total_cases = df.iloc[country, 1]
    print(total_cases)
    print('\n')

##############################
USA
111,367,209


##############################
India
45,028,429


##############################
France
40,138,560


##############################
Germany
38,819,284


##############################
Brazil
38,407,327


##############################
S. Korea
34,571,873


##############################
Japan
33,803,572


##############################
Italy
26,716,804


##############################
UK
24,898,914


##############################
Russia
23,957,146


##############################
Turkey
17,232,066


##############################
Spain
13,914,811


##############################
Australia
11,812,730


##############################
Vietnam
11,624,114


##############################
Taiwan
10,241,523


##############################
Argentina
10,094,643


##############################
Netherlands
8,634,340


##############################
Mexico
7,702,809


##############################
Iran
7,626,527


##############################
Indonesia
6,828,605


##############################
Poland
6,659,256


##############################
Colombia
6,390,825


##############################
Greece
6,101,379


##############################
Austria
6,081,287


##############################
Portugal
5,642,217


##############################
Ukraine
5,557,995


##############################
Chile
5,356,303


##############################
Malaysia
5,274,786


##############################
Canada
4,929,750


##############################
Belgium
4,858,488


##############################
Israel
4,841,772


##############################
DPRK
4,772,813


##############################
Thailand
4,766,751


##############################
Czechia
4,758,292


##############################
Peru
4,572,667


##############################
Switzerland
4,451,386


##############################
Philippines
4,140,383


##############################
South Africa
4,076,463


##############################
Romania
3,524,982


##############################
Denmark
3,183,756


##############################
Singapore
3,001,665


##############################
Hong Kong
2,928,551


##############################
Sweden
2,753,119


##############################
Serbia
2,614,044


##############################
New Zealand
2,592,549


##############################
Iraq
2,465,545


##############################
Hungary
2,229,804


##############################
Bangladesh
2,047,373


##############################
Slovakia
1,877,257


##############################
Georgia
1,855,289


##############################
Jordan
1,746,997


##############################
Ireland
1,733,110


##############################
Pakistan
1,581,936


##############################
Finland
1,515,108


##############################
Norway
1,509,662


##############################
Kazakhstan
1,411,831


##############################
Lithuania
1,396,037


##############################
Slovenia
1,356,402


##############################
Bulgaria
1,339,321


##############################
Croatia
1,309,728


##############################
Guatemala
1,286,737


##############################
Morocco
1,278,844


##############################
Lebanon
1,243,838


##############################
Costa Rica
1,238,883


##############################
Bolivia
1,211,716


##############################
Tunisia
1,153,361


##############################
Cuba
1,115,235


##############################
Ecuador
1,070,188


##############################
UAE
1,067,030


##############################
Panama
1,059,742


##############################
Uruguay
1,041,111


##############################
Mongolia
1,011,456


##############################
Nepal
1,003,450


##############################
Belarus
994,037


##############################
Latvia
982,232


##############################
Saudi Arabia
841,469


##############################
Paraguay
837,602


##############################
Azerbaijan
834,630


##############################
Bahrain
729,549


##############################
Cyprus
681,110


##############################
Dominican Republic
674,608


##############################
Sri Lanka
672,748


##############################
Kuwait
667,026


##############################
Myanmar
641,770


##############################
Moldova
634,130


##############################
Estonia
627,743


##############################
Palestine
621,008


##############################
Venezuela
552,695


##############################
Egypt
516,023


##############################
Qatar
514,524


##############################
Libya
507,274


##############################
Ethiopia
501,117


##############################
Réunion
494,595


##############################
Honduras
474,590


##############################
Armenia
451,426


##############################
Bosnia and Herzegovina
403,565


##############################
Oman
399,449


##############################
Luxembourg
391,020


##############################
North Macedonia
350,509


##############################
Zambia
349,304


##############################
Kenya
344,130


##############################
Brunei
342,802


##############################
Albania
334,863


##############################
Botswana
330,442


##############################
Montenegro
296,452


##############################
Algeria
272,010


##############################
Nigeria
267,188


##############################
Zimbabwe
266,319


##############################
Uzbekistan
253,662


##############################
Mozambique
233,731


##############################
Afghanistan
231,625


##############################
Martinique
230,354


##############################
Laos
218,934


##############################
Iceland
209,884


##############################
Kyrgyzstan
206,897


##############################
Guadeloupe
203,235


##############################
El Salvador
201,855


##############################
Trinidad and Tobago
191,496


##############################
Maldives
186,694


##############################
Namibia
172,280


##############################
Uganda
171,983


##############################
Ghana
171,889


##############################
Jamaica
156,834


##############################
Cambodia
139,091


##############################
Rwanda
133,518


##############################
Cameroon
125,359


##############################
Malta
121,392


##############################
Barbados
110,480


##############################
Angola
107,322


##############################
Channel Islands
101,717


##############################
DRC
99,338


##############################
French Guiana
98,041


##############################
Malawi
89,168


##############################
Senegal
89,053


##############################
Ivory Coast
88,384


##############################
Suriname
82,588


##############################
New Caledonia
80,064


##############################
French Polynesia
79,254


##############################
Eswatini
75,191


##############################
Guyana
74,137


##############################
Belize
71,381


##############################
Fiji
69,117


##############################
Madagascar
68,486


##############################
Cabo Verde
64,477


##############################
Sudan
63,993


##############################
Mauritania
63,832


##############################
Bhutan
62,697


##############################
Syria
57,743


##############################
Burundi
54,721


##############################
Seychelles
51,220


##############################
Gabon
49,051


##############################
Andorra
48,015


##############################
Papua New Guinea
46,864


##############################
Curaçao
45,986


##############################
Aruba
44,224


##############################
Tanzania
43,223


##############################
Mauritius
43,025


##############################
Mayotte
42,027


##############################
Togo
39,557


##############################
Guinea
38,572


##############################
Bahamas
38,084


##############################
Isle of Man
38,008


##############################
Lesotho
36,138


##############################
Faeroe Islands
34,658


##############################
Haiti
34,542


##############################
Mali
33,164


##############################
Cayman Islands
31,472


##############################
Saint Lucia
30,215


##############################
Benin
28,036


##############################
Somalia
27,334


##############################
Micronesia
26,547


##############################
San Marino
26,185


##############################
Solomon Islands
25,954


##############################
Congo
25,375


##############################
Timor-Leste
23,460


##############################
Macao
22,706


##############################
Burkina Faso
22,109


##############################
Liechtenstein
21,572


##############################
Gibraltar
20,550


##############################
Grenada
19,693


##############################
Bermuda
18,860


##############################
South Sudan
18,819


##############################
Nicaragua
18,491


##############################
Tajikistan
17,786


##############################
Equatorial Guinea
17,229


##############################
Monaco
17,181


##############################
Samoa
17,006


##############################
Tonga
16,950


##############################
Marshall Islands
16,138


##############################
Dominica
16,038


##############################
Djibouti
15,690


##############################
CAR
15,440


##############################
Gambia
12,626


##############################
Saint Martin
12,324


##############################
Vanuatu
12,019


##############################
Greenland
11,971


##############################
Yemen
11,945


##############################
Caribbean Netherlands
11,682


##############################
Sint Maarten
11,051


##############################
Eritrea
10,189


##############################
Niger
9,931


##############################
St. Vincent Grenadines
9,674


##############################
Guinea-Bissau
9,614


##############################
Comoros
9,109


##############################
Antigua and Barbuda
9,106


##############################
Liberia
8,090


##############################
Sierra Leone
7,779


##############################
Chad
7,701


##############################
British Virgin Islands
7,392


##############################
Cook Islands
7,203


##############################
Sao Tome and Principe
6,751


##############################
Turks and Caicos
6,749


##############################
Saint Kitts and Nevis
6,607


##############################
Palau
6,279


##############################
St. Barth
5,507


##############################
Nauru
5,393


##############################
Kiribati
5,085


##############################
Anguilla
3,904


##############################
Wallis and Futuna
3,550


##############################
Saint Pierre Miquelon
3,452


##############################
Tuvalu
2,943


##############################
Saint Helena
2,166


##############################
Falkland Islands
1,930


##############################
Montserrat
1,403


##############################
Niue
1,055


##############################
Diamond Princess
712


##############################
Tokelau
80


##############################
Vatican City
29


##############################
Western Sahara
10


##############################
MS Zaandam
9


##############################
China
503,302


##############################
Total:
131,413,625


##############################
Total:
221,452,228


##############################
Total:
253,186,231


##############################
Total:
69,791,773


##############################
Total:
14,826,780


##############################
Total:
12,859,770


##############################
Total:
721


##############################
Total:
703,531,128